@model IEnumerable<WebApplication5.Models.usersaccounts>

@{
    ViewData["Title"] = "Index";
}

<h1>Users_List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>

                    <a class="btn btn-custom" asp-action="Edit" asp-route-id="@item.Id"
                       style="background-color:  #FFD700 ; border: none; color: #6F4E37; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 14px; transition: background-color 0.3s ease;">
                        Edit
                    </a>
                 
            </td>
        </tr>
}
    </tbody>
</table>
